@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i");

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    height: 100%;
    min-height: 100%;
    width: 100%
}

body {
    font: 16px/1.8 "Nunito Sans", sans-serif;
    color: #2c2c2c;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url("../../fonts/MonoSocialIconsFont-1.10.eot");
    src: url("../../fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("../../fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("../../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("../../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
    src: url("../../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

.symbol,
a.symbol:before {
    font-family: 'Mono Social Icons Font';
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased
}

a.symbol:before {
    content: attr(title);
    font-size: 130%
}





.clearfix {
    *zoom: 1
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

::-moz-selection {
    background: #000;
    color: #fff
}

::selection {
    background: #000;
    color: #fff
}

a {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out
}

a:hover {
    color: #00aeef
}

h2 {
    margin: 0;
    font: normal 35px/1.4 "Merriweather", sans-serif;
    color: #000;
    font-style: italic
}

@media screen and (max-width: 640px) {
    h2 {
        font: normal 28px/1.4 "Merriweather", sans-serif
    }
}

.contents p {
    margin: 0 0 30px 0
}

.contents p:last-child {
    margin-bottom: 0
}

.contents img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto
}





header>div,
main article>div {
    width: 92%;
    max-width: 960px;
    margin: auto
}

header {
    padding: 50px 0;
    background: #fff
}

header>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: start;
    align-content: flex-start
}

@media screen and (max-width: 640px) {
    header>div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

header h1 {
    width: 45%;
    margin: 0
}

header h1 a {
    font: bold 64px/64px "Nunito Sans", sans-serif;
    color: #000;
    display: block;
    border: 11px solid #000;
    height: 140px;
    width: 140px;
    padding: 25px 0 0;
    text-align: center;
    text-decoration: none;
    font-weight: 900
}

header h1 a:hover {
    color: #000
}

@media screen and (max-width: 960px) {
    header h1 {
        width: 140px
    }
}

@media screen and (max-width: 640px) {
    header h1 {
        width: 100%
    }

    header h1 a {
        margin: auto
    }
}

header p {
    font: 500 21px/1.6 "Merriweather", sans-serif;
    width: 55%
}

header p strong {
    font-weight: 600
}



@media screen and (max-width: 960px) {
    header p {
        width: calc(100% - 140px);
        padding-left: 10%
    }
}

@media screen and (max-width: 640px) {
    header p {
        width: 100%;
        padding-left: 0;
        text-align: center
    }
}



main article {
    padding: 120px 0
}

main article figure {
    text-align: center;
    margin: 0 0 20px
}

main article figure img {
    height: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25)
}

main article figcaption {
    margin-bottom: 35px
}

main article summary {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-style: italic
}

main article.awake {
    background-color: #21B179
}

main article.wake {
    background-color: #21242B
}

main article.flex {
    background-color: #aeaeae
}

main article.mediamanager {
    background-color: #3184bc
}

main article.checkout {
    background-color: #f1f1f1
}

main article.lagree {
    background-color: #1d1d1d
}

main article.editor {
    background-color: #9199a2
}

main article.support {
    background-color: #3184bc
}

main article.dashboard {
    background-color: #149842
}

main article.element {
    background-color: #aeaeae
}

main article.suitecommerce {
    background-color: #d55e1c
}

main article.wheeler {
    background-color: #000
}

main article.lep {
    background-color: #1d1d1d
}

main article.tabular {
    background-color: #149842
}

main article.tasks {
    background-color: #3184bc
}

.text_white {
    color: #fff
}

.text_white h2 {
    color: #fff
}





footer {
    text-align: center;
    padding: 50px 0 100px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

ul li {
    list-style: none
}

ul li {
    display: inline-block;
    vertical-align: top
}

ul li {
    margin: 0 10px
}

ul li a {
    font-size: 40px;
    text-decoration: none !important;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out
}
