/* ANIMATIONS
------------------------------------------------------------ */


// zoom
@keyframes zoominlogin {
	  0% { transform: scale(0); }
	100% { transform: scale(1); }
}



// fade
@keyframes fade {
	  0% {transform: translateY(-50px); }
	100% {transform: translateY(0);} 
}




// fade with movement coming from the top
@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(-2000px);}
  100% { opacity: 1; transform: translateYyea(0);}
}