/* GENERAL CALLINGS
------------------------------------------------------------ */	

::selection {
	background: $black; 
	color: $white;
}


a {
	color: $black;
	cursor: pointer;
	text-decoration: underline;	
	transition: all 0.25s ease-in-out;
	
	&:hover {
		color: $secondary_2;
	}
}




/* HEADINGS
------------------------------------------------------------ */	

h2 {
	margin: 0; 
	font: normal 35px/1.4 $secondary_font;
  color: $black;
	// letter-spacing: 1px;
	font-style: italic;

	@media screen and (max-width: 640px) { // responsive
		font: normal 28px/1.4 $secondary_font;
	}
}




/* GENERAL CALLINGS
------------------------------------------------------------ */	

.contents {
	
	p { 
		margin: 0 0 30px 0; 
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}


// images
.contents img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}


// Instagram
#instagram {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: -.5vw;
	margin-left: -.5vw;
	margin-right: -.5vw;

    a {
        flex-grow: 1;
        flex-basis: calc(100%/3);
        line-height: 0;
        transition: opacity .2s ease-in-out;
        border: .5vw solid transparent;
    }

    img {
        width: 100%;
    }
}